body{
  margin: 0 0 0 0;
}
ul{
 margin: 0 0 0 0;
}
li{
  list-style: none;
  display: inline-block;
}
nav{
  background-color: rgb(83, 83, 92);
  position: fixed;
  float: right;
  width: 100%;
  text-align: right;
}
em{
  margin-left: 40%;
}
img{
  width: 25%;
  margin-left: 35%;
  overflow: auto;
  display: inline-inline;
  margin-top: 80px;
}
.opiniones{
  width: 100%;

}
a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0 10px 0;
  margin-top: 0;
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
  width: 150px;
  color: rgb(83, 83, 92);
}

#selecto{
  background-color: #f1f1f1;
  padding-top: 6px;
  border-top: 4px solid rgb(100, 82, 210);
  color: rgb(77, 77, 77);
}
#selecto2{
  padding-top: 6px;
  background-color:#f1f1f1;
  border-top: 4px solid rgb(210, 82, 109);
}
.menu{
  margin-top: 40px;
  position: fixed;
  width: 100%;
  background-color: white;

}
.glosario{
  width: 18%;
  height: 100%;
  background-color:#2a2837;
  position: fixed;
  overflow: scroll;
  padding-left: 1%;
  padding-right: 1%;
}
.glosario>h1{
  color:#cdcdcd;
  font-family: helvetica;

}
.glosario>p{
  font-size: 12pt;
  color: rgb(179, 179, 179);
}
p{
  font-family:helvetica;
  font-size: 14pt;
}
.menu>ul>li>a:hover{
  transition:all .1s ease;
  padding-top: 6px;
  background-color:#f1f1f1;
  border-top: 4px solid rgb(210, 82, 109);
}
nav>ul>li>a{
  width: 180px;
  background-color: rgb(83, 83, 92);
  color:rgb(217, 217, 217) ;
}
nav>ul>li>a:hover{
  transition:all .1s ease;
  padding-top: 6px;
  background-color:rgb(102, 102, 102);
  border-top: 4px solid rgb(100, 82, 210);
  /*background-color: rgb(217, 217, 217) ;
  color: rgb(83, 83, 92);*/
}
.texto{
  font-family: helvetica;
  font-size: 12pt;
  text-align: justify;
  width: 70%;
  margin-left: 25%;
  color: #777777;
  font-weight: normal;
}
